<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel='icon' href='/img/weather.png'>
<link rel="stylesheet" href="/CSS/styles.css">

</head>

<body>
    <div id='weatheapplication'>
<div class="main-content">
    {{>header}}
   <p>Use this site to check weather</p>
   <form>
<input placeholder="Enter location..">
<button> Search</button

   </form>
   </div>
  
  <p id='message-1'></p>
    <p id='message-2'></p>
    {{>footer}}
    </div>
  <script src="/js/app.js"></script>
</body>
 
</html>